main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quadrado {
    padding: 6rem;
}

#quadrado-a {
    background-color: rgba(0, 0, 255, 0.753);
}

#quadrado-v {
    background-color: rgba(255, 0, 0, 0.815);
}

#quadrado-r {
    background-color: pink;
}